/*** NAVBAR ***/
nav {
    /* background-color: lightblue; */
    height: 60px;
    width: 100%;
    display: flex;  
}


/** LEFT NAVBAR **/
nav #left {
    /*background-color: gray;*/
    display: flex;
    align-items: center;
}

.dropdown {
    padding: 5px;
    /*background-color: white;*/
    border: 2px solid transparent;
}

.dropdown:visited {
    border: 2px solid blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content { /* !!! hover for the now. change it later */
    display: block;
}

.wk-logo-wrapper {
    height: 100%;
    width: 220px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    /*background-color: lightgreen;*/
}

.wk-logo-wrapper .logo {
    height: 50px;
    width: 50px;
}

.wk-logo-wrapper .logo-name {
    height: 110px;
    width: 138px;
}


/** CENTER NAVBAR **/
nav #center {
    display: flex;
    align-items: center;
}

.search-box-wrapper {
    width: 31.3rem;
    height: 32px;
    margin-left: 23px;
    color: #696969;
    background: transparent;
    display: flex;
}


.search-box-wrapper:hover .fa-magnifying-glass, .search-box-wrapper:hover input.search-box  {
    border-color: gray;
    transition: 0.2s ease-out;
}

.search-box-wrapper:hover .search-btn-wrapper {
    border-left: 1px solid #a0a0a0;
    transition: 0.2s ease-out;
}

.fa-magnifying-glass {
   padding: 7px 10px;
   color: #696969;
   font-size: 1.1rem;
   border: 1px solid #a0a0a0;
   border-right: none;
   border-radius: 2px;
   order: 1;
}

input.search-box {
    width: 100%;
    background: transparent;
    border: 1px solid #a0a0a0;
    border-right: none;
    border-left: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    order: 2;
}

input.search-box::placeholder {
    font-size: 13.5px;
    letter-spacing: 0.2px;
}


input.search-box:focus {
    border: 2px solid rgb(19, 61, 252) !important;
    border-left: none !important;
    transition: none !important;
}

input.search-box:focus ~ .fa-magnifying-glass {
    border: 2px solid rgb(19, 61, 252)  !important;
    border-right: none !important;
    padding: 6px 9px;
    transition: none !important;
}

input.search-box:focus ~ .search-btn-wrapper .search-btn { 
    opacity: 1;
}

.search-btn-wrapper {
    border: 1px solid #a0a0a0;
    border-left: none;
    border-radius: 0 2px 2px 0;
    order: 3;
}

.search-btn {
    height: 100%;
    width: 70px;
    border: none;
    font-weight: bold;
    font-size: 0.85rem;
    background: transparent;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease-out;
}

.search-box-wrapper:hover .search-btn {
    opacity: 1;
}



.pointer {
    cursor: pointer;
}


/** RIGHT NAV **/
nav #right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#right ul {
    display: flex;
    align-items: center;
}

#right ul li {
    list-style: none;
    margin-left: 25px;
    font-size: 0.9rem;
    cursor: pointer;
}

#right ul a {
    text-decoration: none;
    color: rgb(74, 97, 199)
}


#right ul a:hover {
    text-decoration: underline;
}

#right .dropdown {
    margin-right: 12px;
    margin-left: 12px;
}