* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(249, 249, 249);
    color: black;
}

#window-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1610px;
    margin: auto;
    background-color: white;
    padding: 3px 45px;
}

main {
    margin-top: 60px;
    margin-right: 18rem;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#side-bar {
    background-color: lightblue;
}

/** Side-bar **/
#side-bar {
    margin-top: 50px;
    font-size: 0.9rem;
}

#side-bar .side-bar-header {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#side-bar .side-bar-header a {
    font-size: 0.8rem;
}

#side-bar span {
    font-weight: bold;
}

#side-bar li {
    list-style: none;
    margin-top: 10px;
}

#side-bar a {
    text-decoration: none;
}





/** Main content or the main wrapper **/